/* 
Breakpoints
0 - 600px => Mobile 
600 - 900px => tablet-portrait
900 - 1200px => tablet-landscape
[1200 - 1800px] => normal devices [pc's , laptops]
1800+ => Big desktops

ORDER to implement responsive:
  Base + Typography > General Layouts + Grid > components

*/
/* 
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Kalam', cursive;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 31.25%; } }

body {
  position: relative;
  font-family: "Roboto", sans-serif; }

.mt-sm {
  margin-top: 0.2rem; }

.mt-md {
  margin-top: 0.5rem; }

.mt-lg {
  margin-top: 0.7rem; }

.mt-xlg {
  margin-top: 1rem; }

.mb-sm {
  margin-bottom: 0.2rem; }

.mb-md {
  margin-bottom: 0.5rem; }

.mb-lg {
  margin-bottom: 0.7rem; }

.mb-xlg {
  margin-bottom: 1rem; }

.p-sm {
  padding: 0.2rem; }

.p-md {
  padding: 0.7rem; }

.p-lg {
  padding: 1rem; }

.p-xlg {
  padding: 1.3rem; }

.overflow {
  overflow: scroll;
  overflow-x: hidden; }

.h-80 {
  max-height: 80vh; }

.home-section {
  width: 100vw;
  height: 100vh; }
  .home-section__header {
    box-shadow: 0px 0px 0.2rem 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center; }
    .home-section__header > h2 {
      padding: 2rem 0;
      font-family: "Lato", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      color: #4e4a4a; }

.warmup {
  font-family: "Kalam", cursive;
  font-weight: 700;
  background-image: linear-gradient(to right bottom, #5a8bdf, #6390e1, #6b96e2, #739be4, #7ba1e5, #7ea0eb, #829ff1, #879ef6, #9194fe, #a287ff, #b876ff, #d05ffb);
  -webkit-background-clip: text;
  color: transparent; }

.home-main {
  height: calc(100vh - 78px);
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem; }
  .home-main__header {
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
    color: #4e4a4a; }
  .home-main__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .home-main__btns {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 2rem; } }

.btn {
  border: none;
  padding: 1.7rem 3.5rem;
  border-radius: 1.5rem;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 0.2rem 0px rgba(0, 0, 0, 0.3);
  font-size: 1.7rem; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 0.3rem 0.2rem 0px rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(0);
    box-shadow: 0px 0.1rem 0.2rem 0px rgba(0, 0, 0, 0.3); }

.start-practice-btn {
  background-color: #0984e3; }

.add-question-btn {
  background-color: #ff7675; }

.intro-text {
  font-size: 2rem;
  font-weight: 400;
  color: #4e4a4a;
  text-align: center; }

.topics {
  font-size: 2rem;
  background-color: #deeaff;
  color: #5e98f8;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem; }

.overlay {
  width: 100%;
  height: 100vh;
  background-color: #8682828e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  visibility: hidden; }

.question-btn {
  width: 40%;
  background-color: #fff;
  padding: 5.5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.4);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .question-btn {
      width: 60%; } }
  .question-btn__header {
    font-size: 2.7rem;
    font-weight: 500;
    color: #4e4a4a; }

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .btns {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 2rem; } }

.existing-topic__btn,
.new-topic__btn {
  background-color: #0984e3; }

.close {
  font-size: 2rem;
  color: red;
  position: absolute;
  top: 1.5rem;
  right: 1.7rem;
  cursor: pointer; }

.existing-topic__form {
  width: 40%;
  background-color: #fff;
  padding: 5rem 4rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.4);
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  display: none;
  opacity: 0;
  visibility: hidden; }
  @media only screen and (max-width: 37.5em) {
    .existing-topic__form {
      width: 65%; } }

.existing-topic__label {
  font-size: 2rem;
  color: #4e4a4a; }

.existing-topic__input {
  font-family: inherit;
  font-weight: 500;
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #dfe6e9;
  border: none;
  outline: none; }

.next-btn {
  background-color: #0984e3;
  margin-top: 2rem; }

.new-topic__input {
  margin-bottom: 2rem; }

.add-question {
  width: 100%;
  height: 100vh;
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8682828e;
  display: none;
  opacity: 0;
  visibility: hidden; }

.questions-form {
  width: 40%;
  max-height: 80vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 1rem;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.4); }

.success {
  color: green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem; }
  .success-message {
    font-size: 2rem; }

.question-shower {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dfe6e9;
  display: none;
  opacity: 0;
  visibility: hidden; }
  .question-shower__holder {
    width: 50%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.question-title {
  font-size: 2.5rem;
  color: #4e4a4a;
  margin-bottom: 5rem;
  padding: 0 5rem; }

.answer-btn,
.stop-btn,
.next-question__btn {
  font-family: inherit;
  font-weight: 500;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 37.5em) {
    .answer-btn,
    .stop-btn,
    .next-question__btn {
      width: 40%; } }
  @media only screen and (max-width: 18.75em) {
    .answer-btn,
    .stop-btn,
    .next-question__btn {
      width: 60%; } }
  @media only screen and (max-width: 13.75em) {
    .answer-btn,
    .stop-btn,
    .next-question__btn {
      width: 100%; } }

.other-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0 5rem;
  padding-top: 3rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 37.5em) {
    .other-btns {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 2rem; } }

.answer-btn {
  background-color: #0984e3; }

.answer-loading {
  background-color: lightseagreen; }

.stop-btn {
  border: 0.1rem solid lightcoral;
  color: lightcoral; }
  .stop-btn:hover {
    background-color: lightcoral;
    color: #fff; }

.next-question__btn {
  border: 0.1rem solid #0984e3;
  color: #0984e3;
  margin-left: auto;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .next-question__btn {
      margin-left: 0; } }
  .next-question__btn:hover {
    color: #fff;
    background-color: #0984e3; }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 1rem; }

.loaders {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 1rem; }

.loaders:nth-child(1) {
  background-color: lightsalmon;
  animation: loading 0.9s infinite; }

.loaders:nth-child(2) {
  background-color: lightblue;
  animation: loading 0.9s infinite;
  animation-delay: 0.1s; }

.loaders:nth-child(3) {
  background-color: lightgray;
  transition: all 0.2s;
  animation: loading 0.9s infinite;
  animation-delay: 0.2s; }

@keyframes loading {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-0.3rem); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(0.3rem); }
  100% {
    transform: translateY(0); } }

.end-screen {
  width: 100%;
  height: 100vh;
  background-color: #dfe6e9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  display: none;
  opacity: 0;
  visibility: hidden; }
  .end-screen > h2 {
    font-size: 2rem;
    color: #4e4a4a; }

.home-btn {
  text-decoration: none; }
